@model avd4.Models.Entrega

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Entregas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <div class="form-group">
                        <label asp-for="DataHora" class="control-label"></label>
                        <input asp-for="DataHora" class="form-control" />
                        <span asp-validation-for="DataHora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <a asp-action="Index" class="btn btn-primary btn-sm">Voltar</a>
            </div>
        </div>
    </div>
</div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
