@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Avaliação 4</h1>
        <p class="lead">Simples crud utilizando asp net core mvc, hospedado no <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
    </div>
</div>